body {
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Gloria Hallelujah', cursive;
}

#box {
    justify-content: space-evenly;
    display: flex;
    flex-flow: row;
}
footer {
    text-align: center;
    font-size: 0.7em;
    margin: 5em;
}
.media {
    margin: 3em 1em;
    max-width: 40%;
    min-width: 480px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "img content";
    margin-bottom: 0.5em;
}

.media.flipped {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content img";
}

.media .image {
    grid-area: img;
}


.image {
    padding: 1em;
    align-items: center;
    display: flex;
}

#heroImg,
#enemyImg {
    max-width: 250px;
}

#stats {
    margin: 1em;
}


.text img {
    width: 30%;
}

.text {
    padding: 1em; 
}

button {
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.5em;
    margin: 1em;
    font-size: 1em;
    border-radius: 5px;
    outline: none;
    border: 0

}

